body{
    border: solid red 2px;
   background-color: #252b4d;
   width: 100%;
   height: 100%;
   font-family: 'JosefinSans', sans-serif;
   color: #3bc8e7;
}
#connexion{
    display: flex;
    width: 100%;
    border: solid yellow;
    background-color : #1b2039;
    flex-direction: column;
    
}
#logo{
    
    background-image: url(./img/logo.png);
    width: 50px;
    height: 50px;
    display: flex;
    align-self: center;
    
}
#btnconnexion{

   background-color: #3bc8e7; 
   color: #ffffff;
   height: 30px;
   display: flex;
   align-self: flex-end;
  

}
#menu{
border:solid green;
}


#bloc1, #bloc2, #bloc3, #bloc4{
    border: solid purple;
}