body{
    border: solid red 2px;
   background-color: #252b4d;
   width: 100%;
   height: 100%;
   font-family: 'JosefinSans', sans-serif;
   color: #3bc8e7;
}
nav{
    border: solid yellow;
    background-color : #1b2039;
}
#menu{
border:solid green;
}


#bloc1, #bloc2, #bloc3, #bloc4{
    border: solid purple;
}